.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: aqua;
}

.flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: chartreuse;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkred;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: deeppink;
}

.space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orangered;
}

.space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
}